<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="login.component.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    
    <div class="window">
        
        <div class="login-window">
            <div class="login">
            <h1>Sign In</h1>
            <form>
                <input type="text" placeholder="Username" #name> <br> <br>
                <input type="text" placeholder="Profile image URL" #image> <br> <br>
                <button class="btn-success"  (click) = "goToGeneral(name.value, image.value)">Submit</button>
            </form>
            
            
    </div>
    </div>
    </div>
</body>
</html>