<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="login.component.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    
    <div class="window">
        
        <div class="login-window">
        <div class="login">
            <form action="/action_page.php">
            <h1>Sign In</h1>
            <label for="fname">Username</label><br>
            <input type="text" ><br>
            <label for="lname">Password</label><br>
            <input type="password" ><br><br>
            <input type="submit" value="Submit" (click) = "goToGeneral()">
          </form>

    </div>
    </div>
    </div>
</body>
</html>