<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="login.component.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    
    <div class="window">
        
        <div class="login-window">
        <div class="login">
            <h1>Sign In</h1>
            
            <input type="submit" value="Submit" (click) = "goToGeneral()">
    </div>
    </div>
    </div>
</body>
</html>