
        <div id="side-menu">
            <h3 id="testing">Channels</h3>

                    <button class="btn btn-success btn-sm float-right" (click) = "goToGeneral()">General</button>
                    <button class="btn btn-success btn-sm float-right" (click) = "goToMarketing()">Marketing</button>
                    <button class="btn btn-success btn-sm float-right" (click) = "goToRandom()">Random</button>
                    <button class="btn btn-success btn-sm float-right" (click) = "goToInternal()">Internal Projects</button>
                    <button class="btn btn-success btn-sm float-right" (click) = "goToClient()">Client Chat</button>

        </div>
        