#side-menu{
    display: flex;
    flex: 200px 0 0;
    flex-direction: column;
    /* background-color: lightgrey;  */
    background-color: rgb(173, 173, 255); /* placeholder color*/
    border-right: 5px solid grey;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
    height: 100vh;
    min-width: 200px;
}
#testing{
    border-bottom: 3px solid black;
}


.btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
}
.btn-success{
    background-color: rgb(93, 93, 211);

}
.btn-success:hover{
    background-color: rgb(112, 112, 253);
}
/* .button, input, optgroup, select, textarea{
    margin:5px;

} */

.h3{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}